:root {
  --topband-bg: #21263c;
  --sidebar-bg: #f7f7fe;
  --bg-color: #eef0f1;
  --custom-blue: #2165e3;
  --prime-attention: #ff6a00;
  --custom-orange: #feb602;
  --custom-dark_blue: #142a5e;
  --native-font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  --cds-color-blue-600: #0056d2;
  --zf-font-family-base: walsheim, Helvetica, Arial, Lucida Grande, sans-serif;
  --wp--preset--gradient--midnight: linear-gradient(135deg, rgb(2, 3, 129) 0%, rgb(40, 116, 252) 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--native-font-family);
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 14px  !important;
  font-weight: 400;
  background-color: var(--bg-color) !important;
  color: #6d737d;
  line-height: 2rem;
  overflow-x: hidden;
}
.input-height {
  height: 30px !important;
}

.custom-input,
.custom-select {
  height: 35px;
  border: 1px solid lightgray;
  border-radius: 3px;
  font-size: 14px;
  padding-left: 10px;
  width: 100%;
  color: #00224f;
}
.custom-select:invalid:required {
  border: 1px solid red;
}

.custom-input:focus:required:invalid,
input[type="email"]:invalid:focus{
  border: 2px solid red;
}

.custom-input:is(:focus),
.custom-select:is(:focus) {
  outline: none;
  border: 2px solid var(--cds-color-blue-600);
  box-shadow: none !important;
}

.custom-input::required::after{
  content: "*" !important;
  color: red;
}

input[type="email"] {
  text-transform: lowercase !important;
}
.wrapper {
  display: grid;
  grid-template-columns: 15% auto;
}



.wrapper > .side ,
.minify-wrapper > .side{
  padding: 0px;
  position: static !important;
  overflow: auto;
  max-width: 100%;
  width: auto;
}
.wrapper > .main,
.minify-wrapper > .main {
  padding: 3px;
  overflow-y: auto;
  height: 100vh;
  overflow-x: hidden;
}



.d-none {
  display: none;
}
.grid {
  display: grid;
}
.grid-5 {
  display: grid !important;
  grid-template-columns: repeat(5, 1fr) !important;
}
.grid-100 {
  display: grid;
  grid-template-columns: 100%;
}
.grid-70-30 {
  display: grid;
  grid-template-columns: 65% auto;
  grid-gap: 20px;
}
.grid-6 {
  display: grid !important;
  grid-template-columns: repeat(6, 1fr) !important;
  grid-gap: 10px;
}
.br-0{
  border-radius: 0 !important;
}